#############
# Magento 2 #
#############
.php_cs.cache
/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
/app/code/Magento
/app/code/Ced
/app/i18n/magento
/app/*.*
!/app/etc/config.php
/bin
/pub/*
/Doc/*
/dev/*
/dev/shell
/dev/tests/*
/dev/travis/config/
/generated/
/dev/tools/Magento
/dev/tools/grunt
/dev/tools/*.*
/dev/*.*
/lib
/setup
/var
/vendor
node_modules/
!/composer.json
!/composer.lock
!/README.md
/phpserver/*.*
/README.md
/update/
doc/*
.editorconfig
.github/
.htaccess
.htaccess.sample
.php_cs.dist
.travis.yml.sample
.user.ini
CHANGELOG.md
COPYING.txt
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
SECURITY.md
grunt-config.json.sample
index.php
nginx.conf.sample
package.json.sample
app/etc/+++config.php
app/etc/++env++global+.php
app/etc/NonComposerComponentRegistration.php
app/etc/db_schema.xml
app/etc/di.xml
app/etc/env.php
app/etc/registration_globlist.php
app/etc/vendor_path.php
